---
import Isotipo from '@/assets/refugio-isotipo.svg';
---

<section id="nosotros" class="py-24 px-6 bg-background-950" data-animate>
	<div class="max-w-6xl mx-auto">
		<div class="items-start grid grid-cols-3">
			<Isotipo class="text-primary-200 w-full" />

			<h2 class="text-5xl font-lora mx-auto flex flex-col">
				Somos <span class="uppercase text-primary text-6xl"> Refugio</span>
				<span class="uppercase text-lg font-montserrat tracking-wider"
					>Estudio Digital</span
				>
			</h2>
			<p class="text-center text-balance text-xl">
				Creamos sitios web de alto rendimiento que combinan <span
					class="text-primary">diseño</span
				>, <span class="text-primary">velocidad</span> y
				<span class="text-primary">análisis</span> de datos para impulsar el crecimiento
				de tu negocio.
			</p>
		</div>
	</div>
</section>
