---
import Imagotipo from '@/assets/refugio-imagotipo.svg';
---

<footer class="py-16 px-4 bg-background">
	<div class="max-w-6xl mx-auto">
		<div class="grid grid-cols-3 gap-12 mb-12">
			<a href="/">
				<Imagotipo class="text-primary-200 w-full" />
				<span class="sr-only">Refugio</span>
			</a>

			<div class="font-lora uppercase text-primary text-center text-sm">
				<p>© {new Date().getFullYear()} Refugio | Estudio Digital.</p>
				<p>Bariloche, Patagonia, Argentina</p>
			</div>

			<div class="space-y-6 md:text-right">
				<a
					href="https://instagram.com/refugioestudiodigital"
					target="_blank"
					rel="noopener noreferrer"
					class="text-primary uppercase hover:text-primary/80 transition-colors"
				>
					Instagram
				</a>
			</div>
		</div>
	</div>
</footer>
